body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f3ee;
    color: rgb(97, 66, 66);
}
.hero {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #e1ece6;
    border-radius: 16px;
    text-align: center;
}

.hero h1 {
    margin: 0 0 20px;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.hero img {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    height: auto;
    max-width: 750px;
    margin: 0 auto 25px;
    border-radius: 14px;
}

.hero p {
    max-width: 460px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #3b2f2f;
}

.nav-menu{
    position: sticky;
    top:0;
    z-index:1000;

    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

    background-color: rgb(97, 66, 66);
    list-style:none;
    display:flex;
    gap: 4em;
    padding:1.5em;
    margin:0;
    justify-content: center;
    
}

.nav-menu li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

.Welcome {
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.Welcome-content {
    max-width: 600px;
    padding: 20px;
}

.Welcome-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

footer{
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: rgb(97, 66, 66);
    text-align: center;
    padding: 1em;

    color:white;
}

footer a{
    color:white;
}