body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f3ee;
    color: #3b2f2f;
}
.hero {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #e1ece6;
    border-radius: 16px;
    text-align: center;
}

.hero h1 {
    margin: 0 0 20px;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.hero img {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    height: auto;
    max-width: 750px;
    margin: 0 auto 25px;
    border-radius: 14px;
}

.hero p {
    max-width: 460px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #3b2f2f;
}
